html {
	background-color: #303030;
}

body {
	max-width: 800px;
	line-height: 1.4;
	font-size: 18px;
	color: #fefefe;
	padding: 1em;
	text-align: justify;
}

h1,h2,h3 {
	line-height: 1.2
}

a {
	color: #009de0
}

a:visited {
	color: #005ea0
}