nav {
	/* TODO: change these */
	--navbar-background: var(--color-background); /*pink;*/
	--name-text: var(--gray2);
	--navbar-text: var(--gray1);
	--navbar-links: var(--gray1);
	--navbar-links-hover: rgb(255, 127, 0);
	--navbar-dropdown-background: rgba(0, 255, 255, 0.5);
	
	--transition: 0.25s ease-out;
	
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; /* TODO: change this cuz it looks like shit */
}

nav li {
	list-style: none;
	border: solid 1px black;
	border-radius: 10px;
	padding: 10px 20px;
}

nav a {
	text-decoration: none;
}

.navbar {
	display: flex;
	padding-top: 1em;
	padding-bottom: 1em;
	align-items: center;
	justify-content: space-between;
	background-color: var(--navbar-background);
	color: var(--navbar-text);
}

.navbar-links {
	padding-inline-start: 0px;
	/* margin: auto; */
}

.navbar-links a {
	color: var(--navbar-links);
}

.logo a {
	padding: 1em;
	color: var(--name-text);
	font-size: 36px;
	font-weight: bold;
	letter-spacing: 1px;
}

#splash-text {
	padding-top: 0.5em;
	display: flex;
	justify-content: center;
	font-size: 12px;
}

.navbar-menu {
	display: flex;
	gap: 0.5em;
	font-size: 28px;
	margin-right: 1em;
}

.navbar-menu li:hover {
	/* TODO: make these have a bigger hover background margin around the text */
	background-color: var(--navbar-links-hover);
	transition: var(--transition);
	/* margin: 1em; this doesnt rlly work but its interesting maybe */
}

.dropdown {
	background-color: var(--navbar-dropdown-background);
	position: absolute;
	position: absolute;
	top: 100%;
	padding: 0.5em 0;
	display: none;
	border-radius: 8px;
}

.dropdown li + li {
	margin-top: 10px;
}

.dropdown li {
	width: 6em;
	text-align: center;
}

.dropdown li:hover {
	background-color: var(--navbar-links-hover);
	transition: var(--transition);
}


.has-dropdown {
	display: flex;
	justify-content: center;
	position: relative;
}



.projects:hover .projects-dropdown {
	display: block;
	transition: var(--transition);
}

.games:hover .games-dropdown {
	display: block;
	transition: var(--transition);
}

.games-dropdown li {
	width: 6em;
}



/* for mobile devices (TODO) */

input[type=checkbox] {
	display: none;
}

.hamburger {
	display: none;
	font-size: 30px;
	user-select: none;
}

@media (max-width: 795px) {
	.hamburger {
		display: block;
		font-size: 24px;
		user-select: none;
	}
	
	input[type=checkbox]:checked ~ .navbar-menu {
		display: block;
	}
	
	.navbar-menu {
		display: none;
		position: absolute;
		background-color: var(--navbar-dropdown-background);
		right: 0;
		left: 0;
		text-align: center;
		padding: 1em 0;
	}
	
	.dropdown {
		display: block;
		position: static;
		padding: 0;
		background-color: transparent;
		border-radius: 0;
		top: 0;
	}
	
	.dropdown li {
		padding: 0.5em 1em;
		width: 100%;
		text-align: center;
	}

	.dropdown li:hover {
		background-color: var(--navbar-links-hover);
	}
}