:root {
	--color-background: #fff8f8;
	--gray1: rgb(128, 128, 128);
	--gray2: rgb(80, 80, 80);
	
	--max-width: 50em;
}

html {
	background-color: var(--color-background);
}

.page-content {
	max-width: var(--max-width);
	margin: auto;
}

.text {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin-left: 2.5%;
	margin-right: 2.5%;
}

.title {
	font-size: 4em;
}

.author {
	font-size: 2em;
}

.p {
	display: inline;
}
