* {
	--gray1: #000000;
	--gray2: #878a8c;
	--gray3: #787c7e;
	--gray4: #d3d6da;
	--gray7: #ffffff;
	
	--color-gray: var(--gray3);
	--color-yellow: #c9b458;
	--color-green: #6aaa64;
	
	--key-background: #d6d6da;
	--key-text-color: var(--gray1);
	
	/* --keyboard-height: 200px;
	--game-max-width: 500px; */
	--header-height: 65px; /* TODO */
	--header-padding: 20px; /* TODO */
}

html {
	height: 100%;
	display: block;
}

body {
	font-family: 'Clear Sans', 'Helvetica Neue', Arial, sans-serif;
	background-color: var(--gray7);
	margin: 0;
    padding: 0;
    overflow-y: hidden;
	height: 100%;
}

header {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 0 var(--header-padding);
	height: var(--header-height);
	border-bottom: 1px solid var(--gray4);
}

#title {
	font-weight: bold;
	font-size: 32pt;
}

#game {
	width: 100%;
    max-width: var(--game-max-width);
    margin: 0 auto;
    height: calc(100% - var(--header-height));
    display: flex;
    flex-direction: column;
	user-select: none;
}

#board-container {
	display: flex;
    justify-content: center;
    align-items: center;
	overflow: hidden;
	height: 75%; /* calc(100% - var(--keyboard-height)) */
}

.board-grid {
	display: grid;
	grid-template-rows: repeat(var(--board-height), 1fr);
	grid-gap: 5px;
	padding: 10px;
	width: 100%;
	box-sizing: border-box;
}

.board-row {
	display: grid;
    grid-template-columns: repeat(var(--board-width), 1fr);
    grid-gap: 5px;
}

.board-cell-wrapper {
	width: 100%;
}

.board-cell {
	width: 100%;
	aspect-ratio: 1/1; /* yes i know this isnt supported on a lot of browsers but also i dont care */
	display: inline-flex;
	justify-content: center;
	align-items: center;
	font-size: 2rem;
	line-height: 2rem;
	font-weight: bold;
	vertical-align: middle;
    box-sizing: border-box;
	text-transform: uppercase;
	color: var(--gray7);
}
.board-cell[state=empty] {
	border: 2px solid var(--gray4);
}
.board-cell[state=letter] {
	background-color: var(--gray7);
	border: 2px solid var(--gray2);
	color: var(--gray1);
}
.board-cell[state=absent] {
	background-color: var(--color-gray);
}
.board-cell[state=present] {
	background-color: var(--color-yellow);
}
.board-cell[state=correct] {
	background-color: var(--color-green);
}


#game-toast-container {
	z-index: 1000;
	position: absolute;
	top: 45px;
	left: 50%;
	transform: translateX(-50%);
	pointer-events: none;
	width: fit-content;
}

.game-toast {
	position: relative;
	margin: 16px;
	padding: 13px;
	background-color: var(--gray1);
	color: var(--gray7);
	border: none;
	border-radius: 4px;
	opacity: 1;
	transition: opacity 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
	font-weight: 700;
	font-size: 14px;
	line-height: 16px;
	text-align: center;
}

.game-toast.fadeout {
	opacity: 0;
}


@keyframes row-shake {
	10%, 90% {
		transform: translateX(-1px);
	}
	20%, 80% {
		transform: translateX(2px);
	}
	30%, 50%, 70% {
		transform: translateX(-4px);
	}
	40%, 60% {
		transform: translateX(4px);
	}
}

.board-row.shake {
	animation-name: row-shake;
	animation-duration: 600ms;
}

@keyframes cell-flip-in {
	0% {
		transform: rotateX(0);
	}
	100% {
		transform: rotateX(-90deg);
	}
}

.board-cell.flip-in {
	animation-name: cell-flip-in;
	animation-duration: 250ms;
	animation-timing-function: ease-in;
}

@keyframes cell-flip-out {
	0% {
		transform: rotateX(-90deg);
	}
	100% {
		transform: rotateX(0);
	}
}

.board-cell.flip-out {
	animation-name: cell-flip-out;
	animation-duration: 250ms;
	animation-timing-function: ease-out;
}


#keyboard-container {
	height: 25%;/* var(--keyboard-height); */
	margin: 0 8px;
	background-color: var(--gray7);
	max-width: 600px;
	display: flex;
    flex-direction: column;
	justify-content: center;
}

.keyboard-row {
	display: flex;
	width: 100%;
	height: calc((100% - 24px)/3);
	margin: 0 auto 8px;
}

.keyboard-key {
	text-transform: uppercase;
	font-size: 1.25em;
	font-weight: bold;
	border: 0;
	padding: 0;
	margin: 0 6px 0 0;
	height: 100%;
	border-radius: 4px;
	cursor: pointer;
	user-select: none;
	background-color: var(--key-background);
	color: var(--key-text-color);
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 1;
	touch-action: manipulation;
}

.keyboard-key[state=absent] {
	background-color: var(--color-gray);
	color: var(--gray7)
}
.keyboard-key[state=present] {
	background-color: var(--color-yellow);
	color: var(--gray7)
}
.keyboard-key[state=correct] {
	background-color: var(--color-green);
	color: var(--gray7)
}

.keyboard-key:last-of-type {
	margin: 0;
}

.big-key {
	font-size: 12px;
	flex: 1.5;
}

.keyboard-spacer {
	flex: 0.5;
}


